<h1 style="color:Brown;background-color:rgb(214, 226, 43)">Login page</h1>
<label for="username">Enter Username: </label>
  <input
  type="text"
  id="Username"
  class="form-control"
  [(ngModel)]="username">
  <br>
  <label for="password">Enter Password: </label>
  <input
  type="text"
  id="Password"
  class="form-control"
  [(ngModel)]="password">
  <br>
  <p>Data saved: {{username}} <br>
                 {{password}}</p>
  <button 
      class="btn btn-primary"
      (click)="username='';password=''">Reset</button>

